<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Hotels1" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Hotels1;Data Source=DESKTOP-U6DKMRD" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>